<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <title>Noa的介紹~~~</title>
    <style>
        body {
            text-align: center;

        }

        body {
            background-color: #A9A9A9;
        }

        h2 {
            color: #0000ff;
        }

        img {
            display: block;
            margin: 0 auto;
            height: 100px;
            width: 100px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            color: #0000ff;
        }
    </style>
</head>

<body>
    <h2>
        Noa在這~~
    </h2>
    <img src="/static/hutao.jpg">
    <button onclick="window.location.href='/list'">目錄</button>

</body>




</html>