<!DOCTYPE html>
<html lang="zh-TW">
<style>
    .intro-box {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 10px;
        font-size: 18px;
        line-height: 1.8;
        color: #333;
    }
</style>
<div>
    <div class="intro-box">
        我的名字是 王安宏(noa)，今年 14 歲。 <br>
        住在台灣，未婚。 <br>
        我在 VS Code 裡生活，每天最晚凌晨三點睡覺。 <br>
        我不抽煙，茶喝到死掉為止。<br>
        每天會打開 Flask，調整路由直到滿意為止<br>
        我喜歡WWII、喜歡語言、喜歡看程式變得整齊。<br>
        我不追求勝負，但我喜歡把事情做得漂亮。<br>
        我只是想說:<br>
        我的網站不是為了炫技，是為了留下我想記住的東西。<br>
        如果你願意進來看看，我會很高興。<br>
        但如果你想挑戰它——我是不會輸給任何人的。<br>
    </div>