<!DOCTYPE html>
<html lang="zh-TW">
<style>
    body {
        background-color: #A9A9A9;
        text-align: left;
    }

    .list_head {
        color: #FF0000;
    }

    .list_body {
        color: rgb(43, 5, 255)
    }

    button {
        padding: 3px 15px;
        font-size: 15px;
        cursor: pointer;
        color: #000000;
    }

    .list_back {
        color: #00ff48;
    }

    img {
        width: 10%;
        height: 10%;

    }
</style>

<body>
    <div>
        <div class="list_head">
            <strong>
                <h1>目錄如下~:</h1>
            </strong>
        </div>
    </div>
    <div>
        <div class="list_body">
            <ul>
                <li><a href="#intro">
                        <h3>自我介紹!!!</h3>
                    </a></li>
                <li><a href="#kards">
                        <h3>kards!</h3>
                    </a></li>
                <li><a href="#minecraft">
                        <h3>minecraft!!!!!!</h3>
                    </a></li>
                <li><a href="#delta">
                        <h3>三角洲df!!</h3>
                    </a></li>
                <li>
                    <h3><s>待增加...</s></h3>
                </li>
            </ul>
            <h2 id="intro">自我介紹!</h2><img src="/static/intro.jpg">
            <div>
                <div calss="list_back">
                    <p>這個是按鈕!</p>
                    <button onclick="location.href='/intro'">點我跳轉!</button>
                </div>
            </div>
            <h2 id="kards">kards!</h2><img src=/static/kards_logo.jpg>
            <div>
                <div calss="list_back">
                    <p>這個是按鈕!</p>
                    <button onclick="location.href='/Kards'">點我跳轉!</button>
                </div>
            </div>
            <h2 id="minecraft">minecraft!</h2><img src="/static/minecraft_logo.jpg">
            <div>
                <div calss="list_back">
                    <p>這個是按鈕!</p>
                    <button onclick="location.href='/minecraft'">點我跳轉!</button>
                </div>
            </div>
            <h2 id="delta">三角洲!!</h2><img src="/static/df_logo.jpg">
            <div>
                <div calss=" list_back">
                    <p>這個是按鈕!</p>
                    <button onclick="location.href='/delta'">點我跳轉!</button><br>
                </div>
            </div>

        </div>
        <br><button onclick="location.href='/主頁'">回去</button>
</body>